body {
  font-family: Arial, sans-serif;
  background: #f3eeef;
  margin: 0;
  padding: 20px;
}

#app {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

#weather-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
}

.center {
  text-align: center;
}

.weather-card {
  background: #224fa8;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}